.socialmedia {
  text-align: center;
  font-size: 1.5rem;
  color: $grey;
  margin-top: 10px;
  margin-bottom: 20px;

  a {
    padding: 10px;
    border: $border #fff;
    border-bottom-color: $grey;
    margin: 0 10px;
  }

  a.fa-facebook:hover {
    color: $facebook;
    border-bottom-color: $facebook;
  }

  a.fa-instagram:hover {
    color: $instagram;
    border-bottom-color: $instagram;
  }

  a.fa-twitter:hover {
    color: $twitter;
    border-bottom-color: $twitter;
  }
}

footer {
  padding: 10px 0;
  margin-top: 1rem;
  border-top: 5px solid $primary-color;

  nav ul li {
    list-style-type: none;
    margin: 10px 0;

    a {
      text-transform: uppercase;
      color: $dark-grey;
    }

    a:hover {

    }
  }
}

