form {

  textarea {
    resize: vertical;
    min-height: 150px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select{
    padding: 10px;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }
  select {
    padding: 10px;
  }

  label {
    margin-bottom: 0.5rem;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  fieldset {
    margin-bottom: 1rem;
    border: none;
    padding: 0;
  }

  input[type="radio"] {
    margin: 5px;
    padding: 5px;
  }

  .amount input {
    width: 70%;
    float: left;
    margin-right: 1rem;
  }
}

input[type="text"].mobile__header-searchinput {
  padding-right: 45px;
}

.information_form select {
  display: block;
}

.paymentmethod label {
  float: left;
  clear: both;

  img,
  span,
  input[type="radio"]{
    float: left;
    margin: 0 5px;
  }

  input[type="radio"] {
    margin-top: 10px;
  }
  span {
    margin-top: 5px;
  }

}

