.desktop__header {
  display: none;
}

.mobile__header {
  background: $primary-color;
  color:#fff;
  font-size: 1.4rem;
  padding: 7px 0;
  height: 40px;
  margin-bottom: 1rem;
  position: relative;
  z-index: 50;
  transition: all 320ms ease-out 0s;
}

.mobile__header::before, .mobile__header::after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.mobile__header::after {
  clear: both;
}

.mobile__header .header__icons-right .fa {
  margin-left: 10px;
}

.mobile__header-searchform {
  position: relative;
}

.mobile__header-searchinput,
.mobile__header-searchbutton {
  position: absolute;
  top: -58px;
  z-index: 2;
  transition: all 320ms ease-out 0s;
}

.mobile__header-searchbutton {
  right: 0;
  font-size: 1.5rem;
  background: #fff;
  border: none;
  padding: 8px;
  color: $accent-color;
}

.searchbar-show .mobile__header-searchinput,
.searchbar-show .mobile__header-searchbutton{
  top: -57px;
}

.searchbar-show .mobile__header {
  margin-bottom: 3.5rem;
}

.header__icons-left {
  float: left;
}

.header__icons-right {
  float: right;
}

@media (min-width: 60rem) {
  .mobile__header-searchform {
    display: none;
  }

  .desktop__header {
    display: block;
    margin-top: 2rem;

    img {
      width: 80px;

    }

    form {
      position: relative;
      margin-top: 20px;
    }

    button {
      position: absolute;
      right: 1px;
      top: 1px;
      height: 40px;
      width: 40px;
      color: $primary-color;
      z-index: 1000;
      background: #fff;
      border: none;
      box-shadow: none;
    }

    .main__nav ul {
      float: right;
      list-style-type: none;

      li {
        display: block;
        float: left;
        margin: 25px;
        margin-bottom: 0;
      }
      a.fa {
        border: none;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
      }

      a.fa:hover {
        background: $primary-color;
        color: #fff;
      }
    }
    .header__icons {
      display: inline;
      li {
        margin: 25px 15px;
      }
    }

    form input[type="text"]{
      margin-bottom: 0;
    }
  }

  .shop__nav {
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    text-align: center;

    ul {
      margin: auto;
      display: block;
      text-align: center;
      padding: 15px;
    }

    li {
      display: inline;
      margin: 0 1rem;

    }

    a {
      padding: 5px;
      border: none;
    }
    a:hover {
      border: none;
    }
  }
  .mobile__header{
    display: none;
  }
}