.offcanvas {
  float: left;
  width: 0;
  overflow-y: auto;
  position: fixed;
  z-index: 999;
  top: 0;
  max-width: 320px;
  width: 85%;
  min-height: 100%;
  left: -100%;
  transition: all 320ms ease-out 0s;
  background: white;
  height: 100vh;

  ul {
    text-align: center;
  }

  li {
    display: block;
    margin: 25px 0;

    a {
      text-transform: uppercase;
      color: #3d3d3d;
      font-size: 1.067rem;
      border-bottom: 1px solid transparent;
      padding: 5px;
    }

    a:hover,
    a:active{
      color: $primary-color;
      border-bottom: $border $primary-color;
    }
  }

  li.logout {

    a {
      color: $accent-color;
    }

    a:hover,
    a:active {
      border-bottom-color: $accent-color;
    }
  }


}




nav {
  li {
    list-style-type: none;
    a {
      text-transform: uppercase;
      color: #3d3d3d;
      font-size: 1.067rem;
      border-bottom: 1px solid transparent;
      padding: 5px;
    }

    a:hover,
    a:active{
      color: $primary-color;
      border-bottom: $border $primary-color;
    }

    .fa-caret-right {
      position: absolute;
      right: 1rem;
      top: 0.9rem;
    }
  }
}

.main__nav-dropdown {
  margin-top: 0;
  height: 0;
  overflow: hidden;
  border-bottom: 1px solid $grey;
  position: relative;
  left: -100%;
  transition: left 320ms ease-out 0ms, height 320ms ease-out 320ms, margin-top 320ms ease-out 0ms;


  li {
    margin: 0;
    position: relative;

    a {
      color: $grey;
      border-top: 1px solid $grey;
      display: block;
      padding: 10px 0;
      background: rgba(206,206,206, 0.1);
    }

    a:hover,
    a:active{
      color: $accent-color;
      border-top: 1px solid $grey;
      border-bottom: 1px solid transparent;
      background: none;
    }

    ul li {
    }
  }
}

.dropdown-show .main__nav-dropdown{
  height: auto;
  left: 0;
  transition: left 320ms ease-out 0ms, height 320ms ease-out 320ms;
  margin-top: 24px;
}

.main_nav-subdropdown {
  height: 0;
  overflow: hidden;
  position: relative;
  top: -47px;
  transition: top 320ms ease-out 320ms, height 320ms ease-out 0ms;

  li a:hover,
  li a:active{
    color: $primary-color;
    border-top: 1px solid $grey;
    border-bottom: 1px solid transparent;
    background: none;
  }
}

.subdropdown-show .main_nav-subdropdown {
  height: 92px;
  top: 0;
  transition: top 320ms ease-out 0s, height 320ms ease-out 200ms;
}

.offcanvas .navigation-toggle {
  font-size: 1.5rem;
  padding: 5px;
  margin: 6px 8px;
  color: $grey;
}

.offcanvas-open .offcanvas {
  left: 0;
  transition: all 320ms ease-out 0s;
}

.offcanvas__logo {
  width: 40%;
  margin: 20px auto 50px;
  display: block;
}

.subdropdown-show .subdropdown-toggle{
  color: $accent-color;
  border-top: 1px solid $grey;
  border-bottom: 1px solid transparent;
  background: none;
}

.subdropdown-toggle::after {
  content: "\f067";
  font-family: FontAwesome;
  color: inherit;
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  font-size: 0.9rem;
  transform: rotate(0deg);
  transition: all 200ms ease-out 0ms;
}

.subdropdown-show .subdropdown-toggle::after {
  content:  "\f068";
  transform: rotate(-180deg);
  transition: all 200ms ease-out 0ms;
  top: 0.8rem;
}