// Sass Variables

$font-stack:      Lato, Arial, sans-serif;

$primary-color:   #92b94d;
$secondary-color: #3f5700;
$accent-color:    #ff8508;
$text-color:      #3d3d3d;
$dark-grey:       #55585e;
$grey:            #cecece;

$facebook:        #3b5998;
$twitter:         #55acee;
$instagram:       #3f729b;

$border:          2px solid;