<div class="offcanvas" id="offcanvas">
    <!-- Offcanvas Header -->
    <a id="offcanvas__navigation-toggle" class="fa fa-times navigation-toggle" href="#" title="Close the offcanvas" data-navtype="offcanvas-open"></a>
    <a href="index.html"><img class="offcanvas__logo" src="../images/logo.png"></a>
    <!-- End Offcanvas Header -->
    <!-- Offcanvas Navigation -->
    <nav class="main__nav">
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="" class="dropdown-toggle" ng-controller="NavigationDropDownController" data-navdropdown="dropdown-show">shop</a></i>
                <ul class="main__nav-dropdown">
                    <li><a href="#">Groenten<i class="fa fa-caret-right"></i></a></li>
                    <li><a href="#">Fruit<i class="fa fa-caret-right"></i></a></li>
                    <li><a href="#" class="subdropdown-toggle" ng-controller="SubcategoryDropDownController">Vlees<i class="fa fa-caret-down"></i></a>
                        <ul class="main_nav-subdropdown">
                            <li><a href="#">Gevogelte<i class="fa fa-caret-right"></i></a></li>
                            <li><a href="#">Varkensvlees<i class="fa fa-caret-right"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#/profile/1">jouw profiel</a></li>
            <li><a href="#/profile/1/orders">bestellingen</a></li>
            <li><a href="#/profile/1/favorites">favorieten</a></li>
            <li class="logout"><a href="">uitloggen</a></li>
        </ul>
    </nav><!-- End Offcanvas Navigation -->
</div><!-- End Offcanvas -->
<div class="overlay"></div>
<div class="panel grid__wrapper">
    <div class="grid__wrapper">
        <header class="mobile__header">
            <div class="grid__container">
                <section class="header__icons-left" ng-controller="NavigationController">
                    <a id="header__navigation-toggle" class="navigation-toggle" href="#" data-navtype="offcanvas-open" ng-click="toggleNav()">
                        <span class="fa fa-bars navigation-toggle"></span>
                    </a>
                </section>
                <section class="header__icons-right">
                    <a href="" class="fa fa-search searchbar-toggle" ng-controller="SearchController" data-searchbar="searchbar-show"></a>
                    <a href="#/products/basket" class="fa fa-shopping-basket"></a>
                </section>
            </div>
        </header>
        <form class="mobile__header-searchform">
            <input class="mobile__header-searchinput" type="text" placeholder="Zoeken...">
            <button class="fa fa-search mobile__header-searchbutton" type="submit"></button>
        </form>
    </div>

    <header class="desktop__header">
        <div class="grid__container">
            <div class="grid__row">
                <div class="grid__column-bp4-2">
                    <a href="#"><img src="../images/logo.png"></a>
                </div>
                <div class="grid__column-bp1-5">
                    <form>
                        <input type="text" placeholder="Zoeken...">
                        <button type="submit" ><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="grid__column-bp4-5">
                    <nav class="main__nav">
                        <ul>
                            <li ng-repeat="menuItem in vm.$$ui.desktopmenu"><a ui-sref="{{menuItem.state}}">{{menuItem.label}}</a></li>
                            <section class="header__icons">
                                <li><a href="#/products/basket" class="fa fa-shopping-basket"></a></li>
                                <li><a href="#/profile/1" class="fa fa-user"></a></li>
                            </section>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-bp4-12">
                    <nav class="shop__nav">
                        <ul>
                            <li><a href="#/products">Groenten</a></li>
                            <li><a href="#/products">Fruit</a></li>
                            <li><a href="#/products">Vlees</a></li>
                            <li><a href="#/products">Zuivel</a></li>
                            <li><a href="#/products">Vis</a></li>
                            <li><a href="#/products">Deegwaren</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="grid__container">
        <h1>Disclaimer</h1>
        <div class="grid__column-bp1-12 grid__column-bp4-8">
            <section class=" disclaimer__content">
                <h2>Inhoud</h2>
                <p>Alle inhoud en beelden op deze website dienen enkel en alleen als educatieve oefening voor het Opleidingsonderdeel Webdesign-II van de opleiding Grafische en Digitale media van de <a href="https://www.arteveldehogeschool.be/">Arteveldehogeschool</a>.</p>
                <p>Via deze website wil de Arteveldehogeschool correcte en actuele informatie verstrekken over haar opleidingen, vacatures, onderzoeksprojecten enzovoort. De Arteveldehogeschool kan evenwel niet aansprakelijk gesteld worden voor foutieve of verouderde informatie.</p>
                <p>Heb je een vraag of opmerking over de inhoud van deze website? Mail naar <a href="mailto:webmaster@arteveldehs.be">webmaster@arteveldehs.be</a>.</p>
                <h2>Links</h2>
                <p>De Arteveldehogeschool kan niet aansprakelijk gesteld worden voor enige schade die zou voortvloeien uit het doorklikken naar websites of andere informatiebronnen waarnaar de eigen website verwijst.</p>
                <h2>Intellectuele rechten</h2>
                <p>De Arteveldehogeschool behoudt alle intellectuele rechten op de website en de hierop geplaatste informatie.</p>
                <p>De informatie op de website mag gebruikt worden overeenkomstig de bepalingen van de Belgische auteurswetgeving.</p>
                <h2>Persoonsgegevens</h2>
                <p>Persoonsgegevens die je invult op deze website worden bewaard door de Arteveldehogeschool. Ze dienen enkel om de door jou gevraagde informatie te verstrekken.</p>
                <p>Overeenkomstig de wet betreffende de verwerking van persoonsgegevens heb je het recht je gegevens te raadplegen en zo nodig te verbeteren. Mail hiervoor naar <a href="mailto:webmaster@arteveldehs.be">webmaster@arteveldehs.be</a>.</p>
            </section>
        </div>
    </div>
    <footer>
        <div class="grid__container">
            <div class="grid__column-bp1-12 grid__column-bp4-4">
                <nav class="footer__nav">
                    <ul>
                        <li ng-repeat="menuItem in vm.$$ui.footermenu"><a ui-sref="{{menuItem.state}}">{{menuItem.label}}</a></li>
                    </ul>
                </nav>
                <p><a href="#/about/disclaimer">disclaimer</a> | &copy; Arteveldehogeschool</p>
            </div>
            <div class="grid__column-bp1-12 grid__column-bp4-4">
                <section class="socialmedia">
                    <a href="" class="fa fa-facebook"></a>
                    <a href="" class="fa fa-instagram"></a>
                    <a href="" class="fa fa-twitter"></a>
                </section>
            </div>
        </div>
    </footer>
</div>