a.home__category {

  .card {
    position: relative;
    min-height: 130px;
  }


  h2 {
    position: absolute;
    color: #fff;
    font-weight: 600;
    z-index: 5;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
  }

  img{
    width: 100%;
    opacity: 0.5;
  }

  .home__category-background {
    background: #000;
    position: absolute;
    z-index: 0;
    top: 0.5rem;
    left: 0.5rem;
    bottom: 0.5rem;
    right: 0.5rem;
    overflow: hidden;
  }


}

a.home__category:hover,
a.home__category:active{
  img {
    opacity: 0.6;
  }
}