.order {
  font-size: 0.9rem;
  border-bottom: 2px solid $secondary-color;
  margin-bottom: 1rem;

  .order__details h2 {
    font-size: 0.8rem;
  }

  .order__status {
    text-align: right;
  }

  p {
    color: $dark-grey;
  }

  span {
    color: $text-color;
    font-weight: 700;
  }


}

.order__details{
  border-top: 1px solid $grey;
  position: relative;
  padding-top: 1rem;
}

.order:last-child{
  border-bottom: none;
  margin-bottom: 0;
}



.order__product {
  margin-bottom: 1rem;

  img {
    width: 100%;
  }

}

.order__product:last-child{
}

.order__total h2{
  text-align: right;
}
