.order__content .receipt {
  margin-bottom: 0;
}

.order__thanks {
  text-align: center;
  margin: 0 auto 1rem;
}

.ordercomplete-icon {
  background: $primary-color;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  padding: 7px 5px;
  margin: 1rem auto;
  display: block;
}

@media (min-width: 42.5rem) {
  .paymentmethod label {
    clear: none;
  }

  .order__thanks {
    width: 60%;
  }



}