.detail__card {
  position: relative;
  float: left;

  .price {
    margin: 1rem 0;
    font-size: 1.400rem;
    text-align: right;
  }

  h1 {
    color: $secondary-color;
    margin-bottom: 0.3em;
  }

  h3 {
    margin-bottom: 15px;
  }

  .amountbuttons {
    float: left;
  }

  .product__name {
    text-align: left;
  }

  .product__category {
    font-size: 0.8rem;
  }

  .product__rating {
    text-align: right;
    color: $accent-color;
  }

  .btn {
    margin-bottom: 1rem;
  }

}

.productimage-big {
  width: 100%;
  height: auto;
}

.detail__card-productdetails {
  float: left;
  display: block;

  ul {
    list-style-type: disc;
    margin-left: 1rem;
  }
}

.rating-star:before {
  font-family: FontAwesome;
  content: "\f005";
}

@media (min-width: 60rem) {

  .detail__card .btn {
    width: 80%;
    margin: 0 auto 1rem;
  }

}