.categories_sidebar {
  display: none;
}

.overview__product {
  border: $border $grey;
  float: left;
  display: block;
  clear: both;
  position: relative;
  height: 140px;

  .productimage-small {
    width: 100%;
  }

  line-height: 130%;
  font-size: 0.9rem;

}

.overview__description {
  height: 60px;
  overflow: hidden;
}

p.overview__description {
  font-size: 0.8rem;
}

.no_gutter {
  padding: 0;
}

.overview__price {
  font-size: 1.2rem;
  color: $accent-color;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

a.prev_page,
a.next_page {
  height: 40px;
  width: 40px;
  border: $border $dark-grey;
  display: block;
  float: left;
  clear: both;
  padding: 5px 14px;
  font-size: 1.5rem;
}

a.prev_page:hover,
a.prev_page:active,
a.next_page:hover,
a.next_page:active {
  border-color: $primary-color;
  color: $primary-color;
}


a.next_page {
  float: right;
}

a.not_active {
  pointer-events: none;
  cursor: default;
  border-color: $grey;
}

.page_numbers {
  text-align: center;
  padding-top: 8px;
  font-weight: 600;
  color: $grey;

  a.activePage {
    color: $primary-color;
  }
}

@media (min-width: 60rem) {

  /*OVERVIEW DESKTOP*/

  .categories_sidebar {
    display: block;

    h3 {
      margin-bottom: 1rem;
    }

    ul {
      margin-left: 1rem;
      list-style-type: none;
    }
  }
}