/*profile*/

.profile__pic {
  border-radius: 100%;
  border: 2px solid #cecece;
  width: 110px;
  height: 110px;
  display: block;
  margin: 1rem auto;
  overflow: hidden;
  text-align: center;
  max-width: 200px;
  max-height: 200px;

  img {
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
  }
}

.profile__name {
  margin: auto;
  text-align: center;
}

.profile__btn-mobile {
  width: 100%;
  display: block;
  padding: 0.8rem;
  border: 2px solid #cecece;
  margin: 1rem 0;
}

.profile__btn-mobile:last-child {
  border-color: #ff8508;
  color: #ff8508;
}

.profile__btn-mobile i {
  color: #92b94d;
  font-size: 1.2rem;
  margin-right: 0.8rem;
}

.profile__btn-mobile:last-child i {
  color: #ff8508;
}

/*account*/

/*favorites*/

.favorite {
  img {
    width: 100%;
  }

  .card {
    margin-bottom: 1rem;
  }

}

a.basketplusicon {
  width: 40px;
  img {
    width: 25px;
  }
}

a.basketplusicon:hover,
a.basketplusicon:active{

}

/*login*/

.login {
  margin: 2rem;

  .logo {
    width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 2rem
  }

  .login__bottom {
    text-align: center;
  }

  a {
    color: $accent-color;
    font-weight: 700;
  }
}

/*register*/

.register {
  margin: 2rem;

  .logo {
    width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 2rem
  }
}

.desktop__profile-nav {
  display: none;
}

@media (min-width: 42.5rem) {
  .profile__pic {
    width: 150px;
    height: 150px;
  }


}

@media (min-width: 60rem) {
  .profile__pic {
    width: 200px;
    height: 200px;
  }

  .desktop__profile-nav {
    display: block;


    li {
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.3rem;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
}