

.cart__content-product{
  border-top: 2px solid #cecece;
  position: relative;
  padding-top: 1rem;
}

.cart__content-product:first-child{
  border-top: none;
  padding: 0;
}


.cart__content-product .fa-times {
  font-size: 1.4rem;
  z-index: 30;
  color: #cecece;
  position: absolute;
  top: 10px;
  right: 0;
}

.cart__content-product:first-child .fa-times {
  top: -5px;
}

.receipt {
  font-size: 0.8rem;
  border: 2px solid $grey;
  padding: 1rem;
  margin-bottom: 1rem;

  h3 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .receipt__total {
    font-size: 1rem;
    color: #3f5700;
    text-transform: uppercase;
    border-top: 2px solid #3f5700;
    padding-top: 10px;
  }
}

.cart__content {

  h2,
  h4 {
    font-size: 1.1rem;
    font-weight: 400;
  }


  table {
    width: 100%;
  }

  img {
    width: 100%;
  }

  input {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 10px 0;
  }

  .btn__amount {
    width: 30px;
    height: 30px;
    background: none;
    border: 2px solid $grey;
    color: $grey;
    margin: 0 5px;
  }

  section.cart__product {
    border-top: 1px solid $grey;
    padding-top: 0.5rem;
  }

  section.cart__product:first-child {
    border-top: none;
    padding-top: 0;
  }

  .cart__product-price {
    text-align: right;
  }

  .cart__product-delete {
    padding-top: 0.5rem;
  }

  .cart__product-delete a {
    color: $accent-color;

  }
}

.order__newcustomer {
  p {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 60rem) {
  .receipt {
    font-size: 0.8rem;
    border-left: 2px solid $grey;
    padding: 1rem;

    h3 {
      font-size: 1.3rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    .receipt__total {
      font-size: 1rem;
      color: #3f5700;
      text-transform: uppercase;
      border-top: 2px solid #3f5700;
      padding-top: 10px;
    }
  }
}