.styleguide_page header {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  margin-top: 2rem;
  margin-bottom: 1rem;

  h1 {
    margin-top: 0.5rem;
  }
}

.guide__component {
  margin-bottom: 1rem;
}