<div class="offcanvas" id="offcanvas">
    <!-- Offcanvas Header -->
    <a id="offcanvas__navigation-toggle" class="fa fa-times navigation-toggle" href="#" title="Close the offcanvas" data-navtype="offcanvas-open"></a>
    <a href="#"><img class="offcanvas__logo" src="../images/logo.png"></a>
    <!-- End Offcanvas Header -->
    <!-- Offcanvas Navigation -->
    <nav class="main__nav">
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="" class="dropdown-toggle" ng-controller="NavigationDropDownController" data-navdropdown="dropdown-show">shop</a></i>
                <ul class="main__nav-dropdown">
                    <li><a href="#/products">Groenten<i class="fa fa-caret-right"></i></a></li>
                    <li><a href="#/products">Fruit<i class="fa fa-caret-right"></i></a></li>
                    <li><a href="#" class="subdropdown-toggle" ng-controller="SubcategoryDropDownController" data-subnavdropdown="subdropdown-show">Vlees</a>
                        <ul class="main_nav-subdropdown">
                            <li><a href="#/products">Gevogelte<i class="fa fa-caret-right"></i></a></li>
                            <li><a href="#/products">Varkensvlees<i class="fa fa-caret-right"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#/profile/1">jouw profiel</a></li>
            <li><a href="#/profile/1/orders">bestellingen</a></li>
            <li><a href="#/profile/1/favorites">favorieten</a></li>
            <li class="logout"><a href="">uitloggen</a></li>
        </ul>
    </nav><!-- End Offcanvas Navigation -->
</div><!-- End Offcanvas -->
<div class="overlay"></div>
<div class="panel grid__wrapper">
    <div class="grid__wrapper">
        <header class="mobile__header">
            <div class="grid__container">
                <section class="header__icons-left" ng-controller="NavigationController">
                    <a id="header__navigation-toggle" class="navigation-toggle" href="#" data-navtype="offcanvas-open" ng-click="toggleNav()">
                        <span class="fa fa-bars navigation-toggle"></span>
                    </a>
                </section>
                <section class="header__icons-right">
                    <a href="" class="fa fa-search searchbar-toggle" ng-controller="SearchController" data-searchbar="searchbar-show"></a>
                    <a href="#/products/basket" class="fa fa-shopping-basket"></a>
                </section>
            </div>
        </header>
        <form class="mobile__header-searchform">
            <input class="mobile__header-searchinput" type="text" placeholder="Zoeken...">
            <button class="fa fa-search mobile__header-searchbutton" type="submit"></button>
        </form>
    </div>

    <header class="desktop__header">
        <div class="grid__container">
            <div class="grid__row">
                <div class="grid__column-bp4-2">
                    <a href="#"><img src="../images/logo.png"></a>
                </div>
                <div class="grid__column-bp1-5">
                    <form>
                        <input type="text" placeholder="Zoeken...">
                        <button type="submit" ><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="grid__column-bp4-5">
                    <nav class="main__nav">
                        <ul>
                            <li ng-repeat="menuItem in vm.$$ui.desktopmenu"><a ui-sref="{{menuItem.state}}">{{menuItem.label}}</a></li>
                            <section class="header__icons">
                                <li><a href="#/products/basket" class="fa fa-shopping-basket"></a></li>
                                <li><a href="#/profile/1" class="fa fa-user"></a></li>
                            </section>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-bp4-12">
                    <nav class="shop__nav">
                        <ul>
                            <li><a href="#/products">Groenten</a></li>
                            <li><a href="#/products">Fruit</a></li>
                            <li><a href="#/products">Vlees</a></li>
                            <li><a href="#/products">Zuivel</a></li>
                            <li><a href="#/products">Vis</a></li>
                            <li><a href="#/products">Deegwaren</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="grid__container">
        <h1>Bestelling compleet</h1>
        <section class="card order__thanks">
            <h2>Bedankt voor je bestelling!</h2>
            <div class="ordercomplete-icon"><i class="fa fa-check"></i></div>
            <p>Je bestelling is succesvol verlopen en wordt nu verwerkt.</p>
        </section>
            <p><a href="#"><i class="fa fa-caret-left"></i> Terug naar de home</a></p>
    </div>
    <footer>
        <div class="grid__container">
            <div class="grid__column-bp1-12 grid__column-bp4-4">
                <nav class="footer__nav">
                    <ul>
                        <li ng-repeat="menuItem in vm.$$ui.footermenu"><a ui-sref="{{menuItem.state}}">{{menuItem.label}}</a></li>
                    </ul>
                </nav>
                <p><a href="#/about/disclaimer">disclaimer</a> | &copy; Arteveldehogeschool</p>
            </div>
            <div class="grid__column-bp1-12 grid__column-bp4-4">
                <section class="socialmedia">
                    <a href="" class="fa fa-facebook"></a>
                    <a href="" class="fa fa-instagram"></a>
                    <a href="" class="fa fa-twitter"></a>
                </section>
            </div>
        </div>
    </footer>
</div>