html,
body{
  background: #fff;
}

.card {
  border: $border $grey;
  padding: 0.6rem;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  left: 100%;
}

.offcanvas-open .overlay {
  left: 0;
}

.panel {
  float: left;
  overflow: hidden;
  display: block;
  position: relative;
  transition: all 1s ease-in-out;
}

input[type="text"].nomarginbottom {
  margin-bottom: 0;
}

/*HOME MOBILE*/



.categories_sidebar {
  display: none;
}


section.amount select {
  border: none;
}

section.amount select:after{
  content: '\f0d7';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin:0px 0px 0px 10px;
}

section.amount h3,
section.price h3 {
  font-weight: 400;
}

section.price h4,
section.amount select {
  color: $accent-color;
}



/*DETAIL*/



/*CART*/



/*ABOUT MOBILE*/
.about__info img {
  width: 40%;
  margin: 20px auto;
  display: block;
}

.about__info p {
  margin-bottom: 15px;
}

/*CONTACT*/

.contact__info {
  table {
    margin-bottom: 1rem;
  }
  td {
    padding: 0.5rem;
  }
  td:first-child{
    text-align: center;
  }
  .fa-mobile{
    font-size: 1.5rem;
  }
  .fa-home {
    font-size: 1.2rem;
  }
}

/*DISCLAIMER*/

.disclaimer__content h2 {
  margin: 0.5rem 0;
}

.disclaimer__content p {
  margin-bottom: 1rem;
}




/*ACCOUNT MOBILE*/

.account__form {
  margin-bottom: 2rem;
}

.selectCountry {
  display: block;
}

/*FAVORITES MOBILE*/



.loginpanel {
  border: 2px solid #cecece;
  padding: 1rem;
  margin-bottom: 20px;
}

.loginpanel input[type="text"] {
  margin-bottom: 10px;
}

.loginpanel .btn {
  margin-top: 20px;
}

@media (min-width: 60rem) {


  /*OVERVIEW DESKTOP*/

  .categories_sidebar {
    display: block;

    h3 {
      margin-bottom: 1rem;
    }

    ul {
      margin-left: 1rem;
      list-style-type: none;
    }
  }




}

