// Typography

.md-fab {
  md-icon.fa {
    font-size: 1.4rem;
  }
}

body {
  line-height: 150%;
  color: $text-color;
  font-family: $font-stack;
  font-weight: 400;
}

h1 {
  color: $dark-grey;
  font-size: 1.7rem;
  text-align: center;
  font-weight: 700;
  margin-top: 0;

}

h2 {
  color: $secondary-color;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

h3 {
  font-weight: 700;
  color: $accent-color;
}

h4 {

}

a {
  text-decoration: none;
  color: inherit;
}

em {
  color: $secondary-color;
  font-style: normal;
}

p a {
  color: $accent-color;
  font-weight: 600;
}