<!-- Offcanvas -->
<div class="offcanvas" id="offcanvas">
    <!-- Offcanvas Header -->
    <a id="offcanvas__navigation-toggle" class="fa fa-times navigation-toggle" href="#" title="Close the offcanvas" data-navtype="offcanvas-open"></a>
    <a href="#"><img class="offcanvas__logo" src="../images/logo.png"></a>
    <!-- End Offcanvas Header -->
    <!-- Offcanvas Navigation -->
    <nav class="main__nav">
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="" class="dropdown-toggle" ng-controller="NavigationDropDownController" data-navdropdown="dropdown-show">shop</a></i>
                <ul class="main__nav-dropdown">
                    <li><a href="#/products">Groenten<i class="fa fa-caret-right"></i></a></li>
                    <li><a href="#/products">Fruit<i class="fa fa-caret-right"></i></a></li>
                    <li><a href="#" class="subdropdown-toggle" ng-controller="SubcategoryDropDownController" data-subnavdropdown="subdropdown-show">Vlees</a>
                        <ul class="main_nav-subdropdown">
                            <li><a href="#/products">Gevogelte<i class="fa fa-caret-right"></i></a></li>
                            <li><a href="#/products">Varkensvlees<i class="fa fa-caret-right"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#/profile/1">jouw profiel</a></li>
            <li><a href="#/profile/1/orders">bestellingen</a></li>
            <li><a href="#/profile/1/favorites">favorieten</a></li>
            <li class="logout"><a href="">uitloggen</a></li>
        </ul>
    </nav><!-- End Offcanvas Navigation -->
</div><!-- End Offcanvas -->
<div class="overlay"></div>
<div class="panel grid__wrapper">
    <div class="grid__wrapper">
        <header class="mobile__header">
            <div class="grid__container">
                <section class="header__icons-left" ng-controller="NavigationController">
                    <a id="header__navigation-toggle" class="navigation-toggle" href="#" data-navtype="offcanvas-open" ng-click="toggleNav()">
                        <span class="fa fa-bars navigation-toggle"></span>
                    </a>
                </section>
                <section class="header__icons-right">
                    <a href="" class="fa fa-search searchbar-toggle" ng-controller="SearchController" data-searchbar="searchbar-show"></a>
                    <a href="#/products/basket" class="fa fa-shopping-basket"></a>
                </section>
            </div>
        </header>
        <form class="mobile__header-searchform">
            <input class="mobile__header-searchinput" type="text" placeholder="Zoeken...">
            <button class="fa fa-search mobile__header-searchbutton" type="submit"></button>
        </form>
    </div>

    <header class="desktop__header">
        <div class="grid__container">
            <div class="grid__row">
                <div class="grid__column-bp4-2">
                    <a href="#"><img src="../images/logo.png"></a>
                </div>
                <div class="grid__column-bp1-5">
                    <form>
                        <input type="text" placeholder="Zoeken...">
                        <button type="submit" ><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="grid__column-bp4-5">
                    <nav class="main__nav">
                        <ul>
                            <li ng-repeat="menuItem in vm.$$ui.desktopmenu"><a ui-sref="{{menuItem.state}}">{{menuItem.label}}</a></li>
                            <section class="header__icons">
                                <li><a href="#/products/basket" class="fa fa-shopping-basket"></a></li>
                                <li><a href="#/profile/1" class="fa fa-user"></a></li>
                            </section>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-bp4-12">
                    <nav class="shop__nav">
                        <ul>
                            <li><a href="#/products">Groenten</a></li>
                            <li><a href="#/products">Fruit</a></li>
                            <li><a href="#/products">Vlees</a></li>
                            <li><a href="#/products">Zuivel</a></li>
                            <li><a href="#/products">Vis</a></li>
                            <li><a href="#/products">Deegwaren</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="grid__container">
        <h1>Gegevens</h1>
        <form name="form__account">
            <div class="grid__row">
                <div class="grid__column-bp4-6">
            <h2>Persoonlijke gegevens</h2>
            <div class="">
                <label for="voornaam">Voornaam</label>
                <input type="text" name="first_name" id="voornaam" placeholder="Vul hier je voornaam in..." ng-model="vm.customer.first_name" required>
            </div>
            <div class="">
                <label for="familienaam">Familienaam</label>
                <input type="text" name="last_name" id="familienaam" placeholder="Vul hier je familienaam in..." ng-model="vm.customer.last_name" required>
            </div>
            <div class="">
                <label for="geboorte_dag">Geboortedatum</label>
                <div class="grid__row nomargin_input">
                    <div class="grid__column-bp1-3">
                        <input type="text" name="DoB_day" id="geboorte_dag" value="14" placeholder="DD">
                    </div>
                    <div class="grid__column-bp1-3">
                        <input type="text" name="DoB_month" id="geboorte_maand" value="03" placeholder="MM">
                    </div>
                    <div class="grid__column-bp1-6">
                        <input type="text" name="DoB_year" id="geboorte_jaar" value="1996" placeholder="JJJJ">
                    </div>
                </div>
            </div>
            <h2>Adres</h2>
            <div class="">
                <div class="grid__row nomargin_input">
                    <div class="grid__column-bp1-8">
                        <label for="straat">Straat</label>
                        <input type="text" name="street" id="straat" value="Damaststraat" placeholder="Vul hier je straatnaam in...">
                    </div>
                    <div class="grid__column-bp1-4">
                        <label for="huisnummer">Huisnr.</label>
                        <input type="text" name="housenumber" id="huisnummer" value="86" placeholder="XXXX">
                    </div>
                </div>
            </div>
            <div class="">
                <label for="plaats">Woonlaats</label>
                <input type="text" name="Place" id="plaats" value="Mariakerke" placeholder="Vul hier je woonplaats in...">
            </div>
            <div class="">
                <label for="postcode">Postcode</label>
                <input type="text" name="zipcode" id="postcode" value="9030" placeholder="Vul hier je postcode in...">
            </div>
            <div class="">
                <label for="land">Land</label>
                <input type="text" name="country" id="land" value="België">
            </div>
                </div>
                <div class="grid__column-bp4-6">
            <h2>Accountgegevens</h2>
            <div class="">
                <label for="email">E-mail</label>
                <input type="email" name="emailaddress" id="email"  placeholder="Vul hier je emailadres in..." ng-model="vm.customer.user_email">
            </div>
            <div class="">
                <label for="huidigwachtwoord">Huidig wachtwoord</label>
                <input type="password" name="currentpassword" id="huidigwachtwoord" value="bitsies">
            </div>
            <div class="">
                <label for="nieuwwachtwoord">Nieuw wachtwoord</label>
                <input type="password" name="newpassword" id="nieuwwachtwoord">
            </div>
            <div class="">
                <label for="wachtwoord_bevestig">Wachtwoord bevestigen</label>
                <input type="password" name="password_confirm" id="wachtwoord_bevestig">
            </div>
            <input type="hidden" name="user_id" ng-model="vm.customer.user_id" required>
            <input type="hidden" name="_method" value="PUT">
                    </div>
            </div>
            <div class="grid__row">
                <div class="grid__column-bp4-6">
            <div class="userdata__confirm">
                <p>Om je gegevens op te slaan, moet je eerst je huidige wachtwoord ingeven.</p>
                <label for="wachtwoord">Wachtwoord</label>
                <input type="password" name="password" id="wachtwoord">
            </div>
            <button class="btn" ng-click="vm.$$ix.save()" ng-disabled="form__account.$invalid">Wijzigingen opslaan</button>
                </div>
            </div>
        </form>
    </div>
    <footer>
        <div class="grid__container">
            <div class="grid__column-bp1-12 grid__column-bp4-4">
                <nav class="footer__nav">
                    <ul>
                        <li ng-repeat="menuItem in vm.$$ui.footermenu"><a ui-sref="{{menuItem.state}}">{{menuItem.label}}</a></li>
                    </ul>
                </nav>
                <p><a href="#/about/disclaimer">disclaimer</a> | &copy; Arteveldehogeschool</p>
            </div>
            <div class="grid__column-bp1-12 grid__column-bp4-4">
                <section class="socialmedia">
                    <a href="" class="fa fa-facebook"></a>
                    <a href="" class="fa fa-instagram"></a>
                    <a href="" class="fa fa-twitter"></a>
                </section>
            </div>
        </div>
    </footer>
</div>