<div class="register">
    <img class="logo" src="../images/logo.png">
    <form name="registerForm">
        <label for="firstname">Voornaam</label>
        <input type="text" id="firstname" placeholder="Je voornaam..." ng-model="vm.customer.first_name">
        <label for="lastname">Familienaam</label>
        <input type="text" id="lastname" placeholder="Je familienaam..." ng-model="vm.customer.last_name">
        <label for="username">Gebruikersnaam</label>
        <input type="text" id="username" placeholder="Je gebruikersnaam..." ng-model="vm.customer.user_name">
        <label for="emailaddress">Emailadres</label>
        <input type="email" id="emailaddress" placeholder="Je emailadres..." ng-model="vm.customer.email">
        <label for="password">Wachtwoord</label>
        <input type="password" id="password" placeholder="********" ng-model="vm.customer.password">
        <label for="confirm_password">Bevestig wachtwoord</label>
        <input type="password" id="confirm_password" placeholder="********">
        <button class="btn" ng-click="vm.$$ix.save()" ng-disabled="registerForm.$invalid">Registreren</button>
    </form>
</div>