.btn {
  width: 100%;
  border: $border $primary-color;
  color: $primary-color;
  padding: 10px;
  display: block;
  overflow: auto;
  text-align: center;
  background: transparent;
  transition: all 0.3s ease;
}

.btn:hover,
.btn:active {
  color: #fff;
  background: $primary-color;
}

.btn:disabled {
  color: #fff;
  background: $grey;
  border-color: $grey;
}